<!DOCTYPE html>
<html>
<head>
    <title>Администрирование</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="/static/stylesheets/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/stylesheets/main.css"/>
    <meta charset="UTF-8">
</head>
<header id="header" class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <img src="/static/img/logo.png" alt="Sheraton" class="logo">
            </div>
            <div class="col-lg-2 offset-8">
                <nav>
                    <ul class="d-flex justify-content-end">
                        <li id="item_contact" class="menu__item">
                            <a href="#footer">
                                Контакты
                            </a>
                        </li>
                        <li id="item_booking" class="menu__item">
                            <a href="booking">
                                Бронирование
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>

<body>
<div class="container admin">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="rooms-tab" data-toggle="tab" href="#rooms" role="tab" aria-controls="rooms"
               aria-selected="true">Комнаты</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="clients-tab" data-toggle="tab" href="#clients" role="tab" aria-controls="clients"
               aria-selected="false">Клиенты</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="bookings-tab" data-toggle="tab" href="#bookings" role="tab" aria-controls="bookings"
               aria-selected="false">Бронирования</a>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent" style="margin-top: 30px">
        <div class="tab-pane fade show active" id="rooms" role="tabpanel" aria-labelledby="rooms-tab">
            <form action="/addRoom" method="post">
                <div class="input__item">
                    <h3>Заполните данные для новой комнаты</h3>
                    <label for="name" style="margin-top: 20px">Название</label>
                    <input type="text" id="name" name="name" required class="form-control">
                    <label for="description" style="margin-top: 20px">Описание</label>
                    <textarea type="text" id="description" name="description" required class="form-control"></textarea>
                    <label for="aPlaces" style="margin-top: 20px">Взрослые</label>
                    <select type="text" name="aPlaces" required class="form-control" id="aPlaces">
                        <option> 1</option>
                        <option> 2</option>
                    </select>
                    <label for="cPlaces" style="margin-top: 20px">Дети</label>
                    <select type="text" name="cPlaces" required class="form-control" id="cPlaces">
                        <option> 0</option>
                        <option> 1</option>
                        <option> 2</option>
                    </select>
                    <label for="cost" style="margin-top: 20px">Цена за сутки</label>
                    <input type="text" id="cost" name="cost" required class="form-control">
                    <label for="count" style="margin-top: 20px">Количество</label>
                    <input type="text" id="count" name="count" required class="form-control">
                    <label for="s_img" style="margin-top: 20px">Фото</label>
                    <select type="text" name="s_img" required class="form-control" id="s_img">
                        <option> 1</option>
                        <option> 2</option>
                        <option> 3</option>
                    </select>
                    <button class="btn btn-success" style="margin-top: 30px; font-size: 25px">Добавить</button>
                </div>
            </form>

            {{#rooms}}
                <form method="post">
                    <div class="input__item" style="margin-top: 50px">
                        <label hidden for="id" style="margin-top: 10px">ID</label>
                        <input hidden type="text" name="id" id="id" readonly class="form-control" value={{id}}>
                        <label for="name" style="margin-top: 10px">Название</label>
                        <input type="text" name="name" id="name" required class="form-control" value="{{name}}">
                        <label for="description" style="margin-top: 10px">Описание</label>
                        <textarea type="text" name="description" id="description" required
                                  class="form-control">{{description}}</textarea>
                        <label for="aPlaces" style="margin-top: 10px">Взрослые</label>
                        <input type="number" name="aPlaces" min=1 max=2 required class="form-control" id="aPlaces"
                               value={{aplaces}}>
                        <label for="cPlaces" style="margin-top: 10px">Дети</label>
                        <input type="number" name="cPlaces" min=0 max=2 required class="form-control" id="cPlaces"
                               value={{cplaces}}>
                        <label for="cost" style="margin-top: 10px">Цена</label>
                        <input type="text" name="cost" id="cost" required class="form-control" value={{cost}}>
                        <label for="count" style="margin-top: 10px">Количество</label>
                        <input type="text" name="count" id="count" required class="form-control" value={{count}}>
                        <label for="s_img" style="margin-top: 10px">Фото</label>
                        <input type="number" name="s_img" min=1 max=3 required class="form-control" id="s_img"
                               value={{s_img}}>
                        <input type="submit" name="SaveRoom" class="btn btn-primary"
                               style="margin-top: 30px; font-size: 25px" value="Сохранить изменения">
                        <input type="submit" name="DeleteRoom" class="btn btn-danger"
                               style="margin-top: 30px; font-size: 25px" value="Удалить">
                    </div>
                </form>
            {{/rooms}}
        </div>

        <div class="tab-pane fade show active" id="clients" role="tabpanel" aria-labelledby="clients-tab">
            {{#clients}}
                <form method="post">
                    <div class="input__item" style="margin-top: 50px">
                        <label hidden for="id" style="margin-top: 10px">ID</label>
                        <input hidden type="text" name="id" id="id" readonly class="form-control" value={{id}}>
                        <label for="name" style="margin-top: 10px">ФИО</label>
                        <input type="text" name="name" id="name" required class="form-control" value="{{name}}">
                        <label for="phone" style="margin-top: 10px">Телефон</label>
                        <input type="text" name="phone" id="phone" required class="form-control" value={{phone}}>
                        <label for="mail" style="margin-top: 10px">E-mail</label>
                        <input type="text" name="mail" id="mail" required class="form-control" value={{mail}}>
                        <input type="submit" name="SaveClient" class="btn btn-primary"
                               style="margin-top: 30px; font-size: 25px" value="Сохранить изменения">
                        <input type="submit" name="DeleteClient" class="btn btn-danger"
                               style="margin-top: 30px; font-size: 25px" value="Удалить">
                    </div>
                </form>
            {{/clients}}
        </div>

        <div class="tab-pane fade show active" id="bookings" role="tabpanel" aria-labelledby="bookings-tab">
            {{#bookings}}
                <form method="post">
                    <div class="input__item" style="margin-top: 50px">
                        <label hidden for="id" style="margin-top: 10px">ID</label>
                        <input hidden type="text" name="id" id="id" readonly class="form-control" value={{id}}>
                        <label for="client" style="margin-top: 10px">Клиент</label>
                        <input type="text" name="client" id="client" required class="form-control" value={{client}}>
                        <label for="room" style="margin-top: 10px">Комната</label>
                        <input type="text" name="room" id="room" required class="form-control" value={{room}}>
                        <label for="dateIn" style="margin-top: 10px">Дата заселения</label>
                        <input type="text" name="dateIn" id="dateIn" required class="form-control" value={{dateIn}}>
                        <label for="dateOut" style="margin-top: 10px">Дата выселения</label>
                        <input type="text" name="dateOut" id="dateOut" required class="form-control" value={{dateOut}}>
                        <input type="submit" name="SaveBooking" class="btn btn-primary"
                               style="margin-top: 30px; font-size: 25px" value="Сохранить изменения">
                        <input type="submit" name="DeleteBooking" class="btn btn-danger"
                               style="margin-top: 30px; font-size: 25px" value="Удалить">
                    </div>
                </form>
            {{/bookings}}
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/javascripts/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/javascripts/bootstrap.min.js"></script>
</body>
</html>
