<!DOCTYPE html>
<html lang="ru" xmlns:ht="127.0.0.1:8080">
<head>
    <title>{{title}}</title>
    <script type="text/javascript" src="/static/javascripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/stylesheets/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/stylesheets/main.css"/>
    <meta charset="UTF-8">
</head>
<body>
<header id="header" class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <img src="/static/img/logo.png" alt="Sheraton" class="logo">
            </div>
            <div class="col-lg-2 offset-8">
                <nav>
                    <ul class="d-flex justify-content-end">
                        <li id="item_contact" class="menu__item">
                            <a href="#footer">
                                Контакты
                            </a>
                        </li>
                        <li id="item_booking" class="menu__item">
                            <a href="booking">
                                Бронирование
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<section id="booking" class="booking">
    <form action="/booking" method="POST">
        <div class="container">
            <div class="row row-flex row-flex-wrap">
                <div class="col-md-10 info_date btn btn-success">
                    <div class="d-flex input">
                        <div class="input__item">
                            <input type="date" id="dateIn">
                        </div>
                        <div class="input__item">
                            <input type="date" id="dateOut">
                        </div>
                        <select class="input__item" id="aPlaces">
                            <option> 1</option>
                            <option> 2</option>
                        </select>
                        <select class="input__item" id="cPlaces">
                            <option> 0</option>
                            <option> 1</option>
                            <option> 2</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="bb btn btn-danger" name="find" value="true">Найти номера</button>
                </div>
            </div>
        </div>
    </form>
</section>
</body>
</html>